// Place all the styles related to the Authentication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0 auto !important;
  width: 400px;
  padding: 0 20px;
}

.btn-large {
  margin-top: 20px;
  width: 100% !important;
}

a {
  margin: 5px 0;
}
